<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="partnerIDCostco" value="roadwirellc"/>
    <add key="partyNameCostco" value="costco"/>

    <!--ComerceHub-->
    <add key="partnerIDCostco" value="roadwirellc" />
    <add key="partyNameCostco" value="costco" />

    <add key="ftpHostCostco" value="ihub1.commercehub.com/costco/" />
    <add key="ftpOrdersCostco" value="outgoing/orders/" />
    <add key="ftpPaymentCostco" value="outgoing/payment/" />
    <add key="ftpUserCostco" value="roadwirellc" />
    <add key="ftpPassCostco" value="Hhjf93Nsj8" />

    <add key="gnupgDir" value="C:\gnupg\" />
    <add key="passphrase" value="$aur0m0n" />

    <!--<add key="ftpHostCostco" value="support.cstdi.com/" />
    <add key="ftpOrdersCostco" value="" />
    <add key="ftpPaymentCostco" value="" />
    <add key="ftpUserCostco" value="anonymous" />
    <add key="ftpPassCostco" value="james.white@classicsofttrim.com" />-->

    <add key="dirRootCostco" value="C:\CommerceHub\" />
    <add key="dirEncryptCostco" value="Encrypted" />
    <add key="dirDecryptCostco" value="XML" />
    <add key="dirOrdersCostco" value="Orders" />
    <add key="dirPaymentCostco" value="Payments" />
    <add key="dirConfirmsCostco" value="Confirms" />

    <!--ComerceHub-->

  </appSettings>
</configuration>